body {
	background-color: silver
}

th, td {
	text-align: center
}

h1 {
font-weight: bold;
color: red;
text-align: center;
}
h3 {
text-decoration:underline;
text-align: center;
}
h2 {
text-align: center;
font-style: italic;
}

a{
	font-family: Goudy Stout;
	font-color: black;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: yellow;
	background-color: red;
}

a:active {
	font-weight: bold;
}