
	h1 {
		color: orange;
		text-align: center;
		font-family: Jokerman, serif;
		font-size: xx-large;
	}
	
	h4 {
		text-align: center;
		font-family: Jokerman, serif;
		font-size:xx-large;
		color: orange;
	}
	
	a {
		font-family: Jokerman, serif;
		text-decoration: underline;
		font-weight: none;
		color: orange
	}
	
	a:link {
		font-family: jokerman, serif;
		text-decoration: underline;
		font-weight: none;
		color: orange;
	}
	
	a:visited {
		font-family: informal roman, serif;
		color: black;
		text-decoration: underline;
	}
	
	a:hover {
		font-weight: bold;
		color: orange;
		text-decoration: underline;
	}
	
	a:active {
		text-decoration: none;
	}
	
	body {
		background-color: royalblue;
	}
	
	.jumbotron {
		color: orange;
		backround-color: yellow;
	}
	}