body {
	background-color: gray
}

th, td {
	text-align: center
}

h1 {
font-weight: bold;
color: red;
text-align: center;
}
h3 {
text-decoration:underline;
text-align: center;
}
h2 {
text-align: center;
font-style: italic;
}